.snake-part {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
}

.apple {
  position: absolute;
  background-color: tomato;
  width: 10px;
  height: 10px;
}

.restart-button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-container {
  position: absolute;
  border: solid 1px black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.high-score {
  position: absolute;
  top: -20px;
  right: 0;
}

.current-score {
  position: absolute;
  top: -20px;
}