.board {
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px;
  border: solid 1px black;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.snake-part {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
}

.apple {
  position: absolute;
  background-color: tomato;
  width: 10px;
  height: 10px;
}

.has-lost {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}